<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dz.esi.team.appprototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_with_white_background"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:name=".LaunchPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".HomePage"
            android:theme="@style/AppTheme.NoActionBar" />
            <!-- TODO : fix landscape problem for : homepage, searchPlant, ImageOption and CropImage -->

        <activity
            android:name=".SearchPlantesActivity"
            android:label="@string/title_activity_search_plants"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.team.appprototype.HomePage" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ImageOptionsActivity"
            android:label="@string/title_activity_image_options"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.team.appprototype.HomePage" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_plant_profile"
            android:theme="@style/ProfileTheme"/>

        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".HomePage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.team.appprototype.HomePage" />
        </activity>

        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>